.vue-typer {
    font-family: "Montserrat";
  }
  
  .vue-typer .custom.char {
    color: #ffffff;
    background-color: #080808d5;
    font-weight: 700;
    font-size: 60%;
    text-transform: none;

  }
  .vue-typer .custom.char.selected {
    background-color: #e5edf8;
  }
  
  .vue-typer .custom.caret {
    width: 5px;
    background-color: #F58A3C;
  }